body {
	padding: 0px;
	margin: 0px;
}
.col {
	border: 1px white solid;
	text-align: center;
}

.thiccBlock {
	height: 250px;
	line-height: 250px;
}
.App {
	color: white;
	background-color: black;
}
.midrow {
	height: 230px;	
}
.midrow .block {
	height: 100px;
	line-height: 100px;
}
.lastrow .block {
	height: 100px;
	line-height: 100px;
}
.lastrow {
	height: 530px;
}
