[Unit]
Description=home-automation hub
After=network.target

[Service]
WorkingDirectory=/home/pi/home-automation/flask
ExecStart=/home/pi/home-automation/flask/startflask
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
